.home-header{
    width: 100%;
    text-align: center;
    margin-top: 140px;
    
}
.home-header h1{
    padding: 0;
    margin: 0;
    font-size: 2em;
    padding-bottom: 5px;
}
.home-header hr{
    border: 1px solid rgb(236,144,56);
    width: 90%;
    margin-bottom: 10px;
}
.slider-container{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 140px;     
}
.slider{
    width: 100%;
}

@media(min-width:800px){

    .home-header h1{
        font-size: 3em;
    }
    .slider-container{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;  
        padding: 30px;
    }
    .slider{
        width: 1050px;
    }
    .home-header hr{
        width: 60%;
    }
}